.style {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color:green;
}
.work {
	color: blue;
}
.competition{
	color: green;
}
.education {
	color: red;
}
.courses {
	color: magenta;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#box {
	background-color: blue;
	padding: 10px;
	border: 5px solid black;
	width: 300px;
	margin-top: 50px;
}
.skills {
	color: gray;
}